## Dict Creation

In [1]:
dict1={'name':'suvam','place':'India','Hobbies':'Football',1:'python'}
dict1

{'name': 'suvam', 'place': 'India', 'Hobbies': 'Football', 1: 'python'}

In [2]:
dict1={'name':'suvam','place':'India','Hobbies':['Football','Fitness'],1:'python'}
dict1

{'name': 'suvam',
 'place': 'India',
 'Hobbies': ['Football', 'Fitness'],
 1: 'python'}

In [3]:
dict2=dict() #Empty dict
dict2

{}

## Dict Access

In [8]:
dict1

{'name': 'suvam',
 'place': 'India',
 'Hobbies': ['Football', 'Fitness'],
 1: 'python'}

In [6]:
dict1['Hobbies']

['Football', 'Fitness']

In [11]:
dict1[1]='Machine Learning'
dict1

{'name': 'suvam',
 'place': 'India',
 'Hobbies': ['Football', 'Fitness'],
 1: 'Machine Learning'}

In [12]:
dict1['degree']

KeyError: 'degree'

In [13]:
dict1['degree']='Master'
dict1

{'name': 'suvam',
 'place': 'India',
 'Hobbies': ['Football', 'Fitness'],
 1: 'Machine Learning',
 'degree': 'Master'}

In [15]:
dict1.get('degree')

'Master'

In [16]:
dict1['degree']

'Master'

In [17]:
dict1['age']=21,23
dict1

{'name': 'suvam',
 'place': 'India',
 'Hobbies': ['Football', 'Fitness'],
 1: 'Machine Learning',
 'degree': 'Master',
 'age': (21, 23)}

In [18]:
dict1['country']

KeyError: 'country'

In [20]:
dict1.get('country')
dict1

{'name': 'suvam',
 'place': 'India',
 'Hobbies': ['Football', 'Fitness'],
 1: 'Machine Learning',
 'degree': 'Master',
 'age': (21, 23)}

In [1]:
sample_dict = {'emp1': {'name': 'Jhony', 'salary': 7500}, 'emp2': {'name': 'Ravi', 'salary': 8000},
               'emp3': {'name': 'Charan', 'salary': 6500}}
sample_dict['emp3']['salary']=8500
sample_dict

{'emp1': {'name': 'Jhony', 'salary': 7500},
 'emp2': {'name': 'Ravi', 'salary': 8000},
 'emp3': {'name': 'Charan', 'salary': 8500}}

## Remove item

In [21]:
dict1

{'name': 'suvam',
 'place': 'India',
 'Hobbies': ['Football', 'Fitness'],
 1: 'Machine Learning',
 'degree': 'Master',
 'age': (21, 23)}

In [22]:
dict1.pop(1)

'Machine Learning'

In [28]:
dict1

{'name': 'suvam', 'Hobbies': ['Football', 'Fitness'], 'degree': 'Master'}

In [24]:
dict1.popitem() #removes random item
dict1

{'name': 'suvam',
 'place': 'India',
 'Hobbies': ['Football', 'Fitness'],
 'degree': 'Master'}

In [34]:
del dict1['name']

KeyError: 'name'

In [35]:
dict1

{'Hobbies': ['Football', 'Fitness'], 'degree': 'Master'}

In [37]:
dict1.clear()
dict1

{}

## Methods

In [38]:
sq={2:4,3:9,4:16,5:25}

In [39]:
sq_copy=sq.copy()
print(sq_copy)

{2: 4, 3: 9, 4: 16, 5: 25}

In [40]:
marks={}.fromkeys(['science','hindi','math'],65)
marks

{'science': 65, 'hindi': 65, 'math': 65}

In [42]:
marks={}.fromkeys(['science','hindi','math'],[65,45,69])
marks

{'science': [65, 45, 69], 'hindi': [65, 45, 69], 'math': [65, 45, 69]}

In [43]:
marks.keys() #access all keys

dict_keys(['science', 'hindi', 'math'])

In [44]:
marks.values() #to get all values

dict_values([[65, 45, 69], [65, 45, 69], [65, 45, 69]])

In [46]:
marks.items() #gives all the pairs

dict_items([('science', [65, 45, 69]), ('hindi', [65, 45, 69]), ('math', [65, 45, 69])])

In [4]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]

res_dict = dict(zip(keys, values)) #add two lists into dict
print(res_dict)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [2]:
sample_dict = {
    'Physics': 82,
    'Math': 65,
    'history': 75
}
print(min(sample_dict,key=sample_dict.get)) #to get key having minimum value

Math

In [8]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"
}

sample_dict['location'] = sample_dict.pop('city') #rename the key of dict
print(sample_dict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}