In [1]:
multiply=lambda x,y:x*y
multiply(4,5)

20

In [2]:
power=lambda x,y:x**y
power(4,2)

16

In [3]:
# Map function with lambda expression

some_num=[2,3,4,5]

double=list(map(lambda x:x+x,some_num))
double

[4, 6, 8, 10]

In [4]:
string=['My','Python']

cap=list(map(lambda x:str.upper(x),string))
cap

['MY', 'PYTHON']

In [15]:
# Sorting with lambda expression

attendance=[12,53,10,89,65,36]

print(sorted(attendance))
print(attendance)
print()
attendance.sort(reverse=True)
print(attendance)
print()
attendance.sort(key=lambda x:x*2)
print(attendance)

[10, 12, 36, 53, 65, 89]
[12, 53, 10, 89, 65, 36]

[89, 65, 53, 36, 12, 10]

[10, 12, 36, 53, 65, 89]

In [16]:
class_att=[('9A',35),('9B',37),('9C',30),('9D',32),('9E',34)]

sorted(class_att,key=lambda x:x[1])

[('9C', 30), ('9D', 32), ('9E', 34), ('9A', 35), ('9B', 37)]

In [19]:
# Filter function with lambda expression

attendance=[38,53,10,19,65,36,35]

abv_avg_att=list(filter(lambda x:x>=35,attendance))
abv_avg_att

[38, 53, 65, 36, 35]

In [20]:
countries=['India','UK','USA','France','Iran']

count_con=list(filter(lambda x:len(x)>3,countries))
count_con

['India', 'France', 'Iran']

In [22]:
# Reduce function with lambda expression --> it returns single element

from functools import reduce

nums=[10,20,22,25,29,35]

summed_up=reduce(lambda x,y:x+y,nums)
summed_up

141

In [24]:
nums=[10,20,22,25,29,35]

max_val=reduce(lambda x,y:max(x,y),nums)
print(max_val)
print()

min_val=reduce(lambda x,y:min(x,y),nums)
print(min_val)

35

10

In [25]:
nums=[10,20,22,25,29,35]

max_val=reduce(lambda x,y:x if x>y else y,nums)
print(max_val)

35

In [26]:
# Lambda function on nested list

scores=[[1,35,80],[2,32,75],[3,30,82],[4,33,75],[5,37,60]]

abv_avg=35

new_marks=list(map(lambda x:x[2]+2 if x[1]>abv_avg else x[2]-2,scores))
new_marks

[78, 73, 80, 73, 62]

In [27]:
# Lambda function on dictionary

sales=[{'country':'India','sales':125},{'country':'US','sales':569},{'country':'Japan','sales':896}]

country_key=list(map(lambda x:x['country'],sales))
print(country_key)
print()

sale_val=list(map(lambda x:x['sales'],sales))
print(sale_val)

['India', 'US', 'Japan']

[125, 569, 896]

In [29]:
# Using filter on dictionary along with lambda
sales=[{'country':'India','sales':125},{'country':'US','sales':569},{'country':'Japan','sales':896}]

india_sale=list(filter(lambda x:x['country']=='India',sales))
print(india_sale)
print()

high_sale=list(filter(lambda x:x['sales']>200,sales))
print(high_sale)

[{'country': 'India', 'sales': 125}]

[{'country': 'US', 'sales': 569}, {'country': 'Japan', 'sales': 896}]

In [32]:
# Passing multiple list to lambda expressions

list1=[12,52,36,49,89]
list2=[45,26,35,98,14]

list_addition=list(map(lambda x,y:x+y,list1,list2))
list_addition

[57, 78, 71, 147, 103]