In [2]:
class student:
    def __init__ (self,new_name):      #___init__ is short for initialisation
        self.name=new_name

In [3]:
s1=student('Rohit')
s1.name

'Rohit'

In [4]:
s2=student('Suvam')
s2.name

'Suvam'

In [10]:
class student:
    def __init__ (self,new_name,age,rollno):      #___init__ is short for initialisation
        self.name=new_name
        self.age=age
        self.rollno=rollno

In [11]:
s1=student('Rohit',22,104)

In [12]:
s1.name,s1.age,s1.rollno

('Rohit', 22, 104)

In [27]:
class student:
    def __init__ (self,new_name,age,rollno):     
        self.name=new_name
        self.age=age
        self.rollno=rollno
    def __str__(self):
        return f'Name is {self.name},Roll number is {self.rollno},Age is {self.age}'

In [28]:
s1=student('Rohit',23,105)

In [29]:
print(s1)

Name is Rohit,Roll number is 105,Age is 23

In [32]:
class student:
    def __init__ (self,new_name,age,rollno=105):     
        self.name=new_name
        self.age=age
        self.rollno=rollno
    def __str__(self):
        return f'Name is {self.name},Roll number is {self.rollno},Age is {self.age}'
    
s1=student('Rohit',23)
print(s1)

Name is Rohit,Roll number is 105,Age is 23

In [47]:
class student:
    counter=0
    def __init__ (self,new_name):     
        self.name=new_name
        #student.counter+=1
        self.rollno= 21

In [48]:
s1=student('Rohit')
print(s1.rollno)

21

In [51]:
class student:
    counter=0
    def __init__ (self,new_name):     
        self.name=new_name
        student.counter+=1
        self.rollno= student.counter

In [52]:
s1=student('Rohit')
print(s1.rollno)

1

In [53]:
s2=student('Suvam')
print(s2.rollno)

2

In [54]:
class student:
    counter=0
    def __init__(self,newname):
        self.name=newname
        student.counter+=1
        self.rollno=student.counter
    def intro(self):
        print(f'Hello my name is {self.name}')
    def __str__(self):
        return f'{self.rollno},{self.name}'

In [55]:
s=student('suvam')

In [56]:
print(s)

1,suvam

In [57]:
s.intro()

Hello my name is suvam

In [61]:
class account:
    counter=1000
    def __init__(self,opbalance=0):
        account.counter+=1
        self.id=account.counter
        self.bal=opbalance
    def __str__(self):
        return f'Account {self.id} has Rs. {self.bal}'

In [62]:
a1=account(100)
a2=account(200)

In [63]:
print(a1)
print(a2)

Account 1001 has Rs. 100
Account 1002 has Rs. 200

In [7]:
class account:
    counter=1000
    def __init__(self,opbalance=0):
        account.counter+=1
        self.id=account.counter
        self.bal=opbalance
    def deposite(self,amount):
        if amount>0:
            self.bal+=amount
    def withdraw(self,amount):
        if amount>0 and self.bal>=amount:
            self.bal-=amount
    def __str__(self):
        return f'Account {self.id} has Rs. {self.bal}'

In [8]:
a1=account(100)
a2=account(200)
a1.deposite(50)
print(a1)
print(a2)

Account 1001 has Rs. 150
Account 1002 has Rs. 200

In [9]:
a1=account(100)
a2=account(200)
a1.deposite(50)
print(a1)
print(a2)
a2.withdraw(35)
print(a1)
print(a2)

Account 1003 has Rs. 150
Account 1004 has Rs. 200
Account 1003 has Rs. 150
Account 1004 has Rs. 165