In [8]:
rows=int(input())
for row in range(1,rows+1):
    for i in range(row):
        print('*',end=' ')
    print()   #print('end\n')

5
*
* *
* * *
* * * *
* * * * *

In [11]:
print('hello world')

hello world

In [12]:
print('hello world')
print()

hello world

In [25]:
rows=int(input())
for row in range(1,rows+1):
    for i in range(row):
        print(row,end=' ')
    print()

5
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [37]:
rows=int(input())
for row in range(1,rows+1):
    for i in range(1,row+1):
        print(i,end=' ')
    print()

5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [49]:
rows=int(input())
num=1
for row in range(1,rows+1):
    for i in range(1,row+1):
        print(num,end=' ')
        num=num+1
    print()

5
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

### WAP to check prime no

In [2]:
num=int(input())
flag=0
for i in range(2,num):
    if num%i==0:
        flag=1
        break
if flag==0:
    print(num, 'is a prime number')
else:
    print(num, 'is not a prime number')

6
6 is not a prime number

In [33]:
mark=int(input('Enter mark of a student: '))
if mark>=35 and mark<=100:
    if mark>=35 and mark <=40:
        grade='D'
    elif mark>=41 and mark<=50:
        grade='C'
    elif mark>=51 and mark<=60:
        grade='B'
    elif mark>=61 and mark<=70:
        grade='B+'
    elif mark>=71 and mark<=80:
        grade='A'
    elif mark>=81 and mark<=90:
        grade='A+'
    else:
        grade='O'
elif mark<0 or mark>100:
    grade='ERROR'
else:
    grade='FAIL'
print('Grade of student is : ',grade)

Enter mark of a student: 71
Grade of student is :  A

In [48]:
seqString = 'Python'
print(list(reversed(seqString)))

['n', 'o', 'h', 't', 'y', 'P']

### Factorial Number

In [52]:
num=int(input('Enter the value to compute the factorial : '))
fact=1
i=1
while(i<=num):
    fact=fact*i
    i+=1
print('Factorial of a number is : ',fact)

Enter the value to compute the factorial : 9
Factorial of a number is :  362880

### Factorial Number using Recursion

In [54]:
def fact(n):
    if n==1:
        return n
    else:
        return n*fact(n-1)
num=int(input('Enter number : '))
print('Factorial of a number is : ',fact(num))

Enter number : 9
Factorial of a number is :  362880

In [56]:
lists=[2, 3, 6, 6, 5]
list1=list(set(lists))
list1.sort()
print(list1[-2])

5