# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

###  LIST

`Question:`:Create a list of numbers
> nums = [1,2,3,4]

In [19]:
nums=[1,2,3,4]
nums

[1, 2, 3, 4]

** `Question:` Remove number "3" in a list**

In [9]:
nums.remove(3)
nums

[1, 2, 4]

In [15]:
remove_item=nums.pop(2)
remove_item
nums

[1, 2, 4]

In [20]:
del nums[2]
nums

[1, 2, 4]

**`Question:` :Insert number "1" in 0th position**
- lst = [2,3,4]

In [21]:
Ist=[2,3,4]
Ist.insert(0,1)
Ist

[1, 2, 3, 4]

**`Question:` Insert "two-and-half" in 2nd position**

In [22]:
Ist.insert(2,'two-and-half')
Ist

[1, 2, 'two-and-half', 3, 4]

[1, 2, 'two-and-half', 3, 4]

**`Question:` phrase = "Don't panic!"**
- **Convert above text into list**

In [1]:
phrase1="Don't panic!"
phrase2=list(phrase1)
print(phrase2)

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

*convert into list*

In [99]:
phrase1="Don't panic!"
print([*phrase1])

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

`Question:` Remove ** '** and **!** in the list

In [100]:
list1.pop(3)
list1.pop(10)
list1

['D', 'o', 'n', 't', ' ', 'p', 'a', 'n', 'i', 'c']

['D', 'o', 'n', 't', ' ', 'p', 'a', 'n', 'i', 'c']

**`Question:` Remove "p" , "a", "n","D" and extend at the last**

In [97]:
# CODE HERE
list1=['D', 'o', 'n', 't', ' ', 'p', 'a', 'n', 'i', 'c']
l1=list1.pop(5)
l2=list1.pop(5)
l3=list1.pop(5)
l4=list1.pop(0)
l5=[l1,l2,l3,l4]
list1.extend(l5)
list1

['o', 'n', 't', ' ', 'i', 'c', 'p', 'a', 'n', 'D']

In [46]:
list1=['D', 'o', 'n', 't', ' ', 'p', 'a', 'n', 'i', 'c']
remove_item=['p','a','n','D']
list2=[]
for i in list1:
    if i not in remove_item:
        list2.append(i)
list2.extend(remove_item)
print(list2)

['o', 't', ' ', 'i', 'c', 'p', 'a', 'n', 'D']

['o', 'n', 't', ' ', 'i', 'c', 'p', 'a', 'n', 'D']

**`Question:` Join the given list ['p', 'a', 'n', 'D', 'a']**

In [73]:
lists=['p', 'a', 'n', 'D', 'a']
s= ''.join(lists)
print(s)

panDa

'panDa'

###  Tuples

**`Question:` Create a tuples for numbers 31,24,35,85 as nums**

In [87]:
nums=(31,24,35,85)
print("data type", type(nums))
print(nums)

data type <class 'tuple'>
(31, 24, 35, 85)

data type <class 'tuple'>
(31, 24, 35, 85)

**`Question:` Remove number "35" in a tuple**

*Hint:* Convert into list

In [91]:
lists=list(nums)
lists
lists.remove(35)
lists
tuples=tuple(lists)
tuples

(31, 24, 85)

(31, 24, 85)

**Extent** tuple (85,19)

In [92]:
tp1=(31,24,85)
tp2=(85,19)
tp3=tp1+tp2
tp3

(31, 24, 85, 85, 19)

(31, 24, 85, 85, 19)

**`Question:` Write code to check whether an element ('i') exists within a tuple.**
- tpl = ('i','n''n','0')

In [1]:
tpl=('i','n''n','0')
print("i" in tpl)

True

True

**`Question:` Write a python code to replace/insert the value**
- list = ['Hello',100,[],'innomatics']

In [5]:
lists = ['Hello',100,[],'innomatics']
lists[2]=[200]
lists

['Hello', 100, [200], 'innomatics']

['Hello', 100, [200], 'innomatics']

**`Question:` Write a Python program to reverse a tuple.**

In [25]:
# CODE HERE
tpl = ("Innomatics")
tpl1=list(tpl)
tpl1
tpl1.reverse()
tpl1
tpl=tuple(tpl1)
tpl

('s', 'c', 'i', 't', 'a', 'm', 'o', 'n', 'n', 'I')

('s', 'c', 'i', 't', 'a', 'm', 'o', 'n', 'n', 'I')

In [9]:
tpl = (1,2,3)+(4,)
tpl

(1, 2, 3, 4)

**`Question:` Write a Python program to add one more value at last postion of tuples in a list**
- tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
- `hint- use for loop`

In [7]:
# CODE HERE
tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
tp1=[]
for i in tpl:
    tp1.append(i+(100,))
print(tp1)

[(10, 20, 40, 100), (40, 50, 60, 100), (70, 80, 90, 100)]

[(10, 20, 40, 100), (40, 50, 60, 100), (70, 80, 90, 100)]

**`Question:` Write a Python program to replace last value of tuples in a list**
- tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
- `hint- use for loop`

In [33]:
# CODE HERE
tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
tp1=[]
for i in tpl:
    tp1.append(i[:2]+(100,))
print(tp1)

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

### `Question:` If the following string is given as input to the program:

- '5 2 3 6 6 5'

#### FInd the secong higest value from that

In [43]:
# CODE HERE
str1='5 2 3 6 6 5'
str2=list(set((str1)))
str2.sort()
str2
print('Second highest is :',str2[-2])

Second highest is : 5

### `Question:` By using list comprehension, please write a program to print the list after removing the 0th,4th,5th numbers in [12,24,35,70,88,120,155].

In [45]:
# CODE HERE
lists=[12,24,35,70,88,120,155]
remove_item=[12,88,120]
list1=[i for i in lists if i not in remove_item]
print(list1)

[24, 35, 70, 155]

### `Question:` With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to print the first half values in one line and the last half values in one line.

In [29]:
tp=(1,2,3,4,5,6,7,8,9,10)
tp1=tp[:5]
tp2=tp[5:]
print(tp1,tp2)

(1, 2, 3, 4, 5) (6, 7, 8, 9, 10)

(1, 2, 3, 4, 5) (6, 7, 8, 9, 10)

### `Question:` Write a program to generate and print another tuple whose values are even numbers in the given tuple (1,2,3,4,5,6,7,8,9,10)

In [30]:
tp=(1,2,3,4,5,6,7,8,9,10)
tup=tp[1::2]
print(tup)

(2, 4, 6, 8, 10)

(2, 4, 6, 8, 10)

# `Descriptive Questions`

### 1. Explain the difference between list and tuple?

In [ ]:
1. Tuples are immutable but lists are mutable.
2. Tuples cannot be changed while lists can be modified at any point of time of the program.
3. The List is written in square brackets [ ] while Tuples are written in round brackets ( )

#Example of list
nums=[1,2,3,4]
nums
#Output : [1,2,3,4]

#Example of tuple
tp=(31,24,85)
tp
#Output : (31,24,85)

### 2. Explain the difference between append() and extend() with examples

In [ ]:
1. append() adds a single element to the end of the list.
2. The length of the list increases by one in case of append
#Example
lists = [1,2]
lists.append(3)
print(lists)
#Output : [1,2,3]

1. extend() can add multiple individual elements to the end of the list.
2. The length of the list increases by a number of elements in its argument.
#Example
lists = [1,2]
lists.extend([3,4])
print(lists)
#Output : [1,2,3,4]

### 3. Explain the difference between pop() and remove() with examples

In [ ]:
1. pop() method is used to removes the item in a list and returns an item present at the specified position in the list.
2. It uses index position to remove any item.
#Example
lists = [1,2,3,4]
lists.pop(2)
#Output : 3  #returns deleted item
lists = [1,2,3,4]
lists.pop(2)
lists
#Output : [1,2,4]


1. remove() method is used to delete the first item from the list which matches the specified value.
2. To delete value this method uses the value as a parameter.
3. The remove() method doesnâ€™t return any value.
#Example
nums=[1,2,3,4]
nums.remove(3)
nums
#Output : [1,2,4]

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)