# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

###  Dictionary

**`Question :`Create Dictionary for following information as "person1":**
   - Name = John
   - Gender= Male
   - Occupation = Data Scientist
   - Location  = Nizampet, Hyderabad

In [7]:
# CODE HERE
person1={'Gender':'Male','Location':'Nizampet, Hyderabad','Name':'Jhon','Occupation':'Data Scientist'}
person1

{'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'Jhon',
 'Occupation': 'Data Scientist'}

In [4]:
person1

{'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

> print keys in person1 as a list

In [5]:
# CODE HERE
person1={'Name': 'John','Gender': 'Male','Occupation' : 'Data Scientist','Location' : 'Nizampet, Hyderabad'}
lists=list(person1.keys())
lists

['Name', 'Gender', 'Occupation', 'Location']

['Name', 'Gender', 'Occupation', 'Location']

> **`Question:` Remove Location in person1**

In [9]:
# CODE HERE
person1.pop('Location')
person1

{'Name': 'John', 'Gender': 'Male', 'Occupation': 'Data Scientist'}

In [2]:
person1={'Age': 27,'Gender': 'Male', 'Name': 'Srikanth', 'Occupation': 'Data Scientist'}
person1

{'Age': 27,
 'Gender': 'Male',
 'Name': 'Srikanth',
 'Occupation': 'Data Scientist'}

{'Age': 27,
 'Gender': 'Male',
 'Name': 'Srikanth',
 'Occupation': 'Data Scientist'}

> **`Question:` Create dictionary of person2 with**
- Name  = Raghu Ram
- Gender = Male
- Age  = 25
- Occupation = Data Scienctist

In [1]:
# CODE HERE
person2={'Age': 25,'Gender': 'Male','Name': 'Raghu Ram','Occupation': 'Data Scientist'}
person2

{'Age': 25,
 'Gender': 'Male',
 'Name': 'Raghu Ram',
 'Occupation': 'Data Scientist'}

In [5]:
person2

{'Age': 25,
 'Gender': 'Male',
 'Name': 'Raghu Ram',
 'Occupation': 'Data Scientist'}

> **`Question:` Print the output as show below**

In [8]:
# CODE HERE
print('='*20, 'person1', '='*20)
print(person1)
print('='*20, 'person2', '='*20)
print(person2)

==================== person1 ====================
{'Gender': 'Male', 'Location': 'Nizampet, Hyderabad', 'Name': 'Jhon', 'Occupation': 'Data Scientist'}
==================== person2 ====================
{'Age': 25, 'Gender': 'Male', 'Name': 'Raghu Ram', 'Occupation': 'Data Scientist'}

==================== person1 ====================
{'Gender': 'Male', 'Location': 'Nizampet, Hyderabad', 'Name': 'John', 'Occupation': 'Data Scientist'}
==================== person2 ====================
{'Age': 25, 'Gender': 'Male', 'Name': 'Raghu Ram', 'Occupation': 'Data Scientist'}

# create a dictionary
#### `Question:` remove the elements from that dictionary using different methods
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}

In [21]:
# CODE HERE
dictt={1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}
dictt
dictt.pop(2)
dictt

{1: 1, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}

In [23]:
dictt={1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}
dictt
dictt.popitem()
dictt

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

In [25]:
dictt={1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}
dictt
del dictt[2]
dictt

{1: 1, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}

In [26]:
dictt={1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}
dictt
dictt.clear()
dictt

{}


### `Question:` print the values from the given dictionary in descending order
{0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [31]:
# CODE HERE
dict1={0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}
dict1
dict2=sorted(dict1.values(),reverse=True)
dict2

[81, 49, 25, 9, 1, 0]

### `Question:` merge the below 3 dictionaries
dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }

In [34]:
# CODE HERE
dict1 = { 'a': 1, 'b': 2 } 
dict2 = { 'b': 3, 'c': 4 } 
dict3 = { 'c': 5, 'd': 6 }
dict4= dict1 | dict2 | dict3
dict4

{'a': 1, 'b': 3, 'c': 5, 'd': 6}

In [33]:

dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }

{'a': 1, 'b': 3, 'c': 5, 'd': 6}

**`Question:` change Charan’s salary to 8500 in the following dictionary**

sample_dict = {
    'emp1': {'name': 'Jhony', 'salary': 7500},
    'emp2': {'name': 'Ravi', 'salary': 8000},
    'emp3': {'name': 'Charan', 'salary': 6500}
}

In [39]:
# CODE HERE
sample_dict = {'emp1': {'name': 'Jhony', 'salary': 7500}, 'emp2': {'name': 'Ravi', 'salary': 8000},
               'emp3': {'name': 'Charan', 'salary': 6500}}
sample_dict['emp3']['salary']=8500
sample_dict

{'emp1': {'name': 'Jhony', 'salary': 7500},
 'emp2': {'name': 'Ravi', 'salary': 8000},
 'emp3': {'name': 'Charan', 'salary': 8500}}

{'emp1': {'name': 'Jhony', 'salary': 7500},
 'emp2': {'name': 'Ravi', 'salary': 8000},
 'emp3': {'name': 'Charan', 'salary': 8500}}

**`Question:` Print the value of key ‘history’ from the below dict**

sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

In [61]:
# CODE HERE
sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}


sampleDict['class']['student']['marks']['history']

80

80

**`Question:` Rename a key Location to a Area in the following dictionary**

{'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

In [10]:
# CODE HERE
sample_dict = {'Gender': 'Male', 'Location': 'Nizampet, Hyderabad','Name': 'John', 'Occupation': 'Data Scientist'}
sample_dict['Area'] =sample_dict.pop('Location') 
print(sample_dict)

{'Gender': 'Male', 'Name': 'John', 'Occupation': 'Data Scientist', 'Area': 'Nizampet, Hyderabad'}

{'Gender': 'Male',
 'Area': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

**`Question:` database = {'ram':1234,'raghu':5678,'kanav':1357}**
## Tasks :-
### 1. if the username and password matches print hello username
### 2. if the username and password doesnot match, ask, you want me to add into the database
### 3. show the updated database list

In [1]:
database={'ram':1234,'raghu':5678,'kanav':1357}
name=input('Enter name : ')
pw=int(input('Enter password : '))
if database.get(name)==pw:
    print('hello',name)
else:
    ask=input('You want me to add into the database : ').lower()
    if (ask=='yes'):
        database[name]=pw
    print('Updated database :',database)

Enter name : ram
Enter password : 1234
hello ram

In [2]:
database={'ram':1234,'raghu':5678,'kanav':1357}
name=input('Enter name : ')
pw=int(input('Enter password : '))
if database.get(name)==pw:
    print('hello',name)
else:
    ask=input('You want me to add into the database : ').lower()
    if (ask=='yes'):
        database[name]=pw
    print('Updated database :',database)

Enter name : raj
Enter password : 7894
You want me to add into the database : yes
Updated database : {'ram': 1234, 'raghu': 5678, 'kanav': 1357, 'raj': 7894}

In [6]:
print('Updated database :',database)

Updated database : {'ram': 1234, 'raghu': 5678, 'kanav': 1357, 'raj': 7894}

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)