# Functions and Methods Homework 

Complete the following questions:
____
**Write a function that computes the volume of a sphere given its radius.**

volume = 4/3 pi $r ^3$

In [18]:
pi=3.14
def vol(rad):
    v= (4/3)*pi*rad**3
    return v
volume=vol(float(input('Enter radius : ')))
print('Volume of sphere is: ',volume)

Enter radius : 5
Volume of sphere is:  523.3333333333334

___
**Write a function that checks whether a number is in a given range (Inclusive of high and low)**

In [22]:
def ran_check(num,low,high):
    if num in range(low,high):
        print(num ,"is in a range")
    else:
        print(num ,"is not in range")
ran_check(89,100,200)

89 is not in range

In [23]:
def ran_check(num,low,high):
    if num in range(low,high):
        print(num ,"is in a range")
    else:
        print(num ,"is not in range")
ran_check(115,100,200)

115 is in a range

If you only wanted to return a boolean:

In [24]:
def ran_bool(num,low,high):
    if num in range(low,high):
        return True
    else:
        return False
ran_bool(3,1,10)

True

In [25]:
def ran_bool(num,low,high):
    if num in range(low,high):
        return True
    else:
        return False
ran_bool(26,1,10)

False

In [0]:
ran_bool(3,1,10)

True

____
**Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters.**

    Sample String : 'Hello Mr. Rogers, how are you this fine Tuesday?'
    Expected Output : 
    No. of Upper case characters : 4
    No. of Lower case Characters : 33

If you feel ambitious, explore the Collections module to solve this problem!

In [53]:
def up_low(s):
    upper = 0
    lower = 0
    for char in s:
        if char.islower():
            lower += 1
        elif char.isupper():
            upper +=1
    return(upper, lower)

u,i=up_low('Hello Mr. Rogers, how are you this fine Tuesday?')
print('No. of Upper case characters : {}\nNo. of Lower case characters : {}'.format(u,i))

No. of Upper case characters : 4
No. of Lower case characters : 33

____
**Write a Python function that takes a list and returns a new list with unique elements of the first list.**

    Sample List : [1,1,1,1,2,2,3,3,3,3,4,5]
    Unique List : [1, 2, 3, 4, 5]

In [46]:
lists=[]
def unique_list(l):
    for i in l:
        if i not in lists:
            lists.append(i)
    return lists
unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

In [0]:
unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

____
**Write a Python function to multiply all the numbers in a list.**

    Sample List : [1, 2, 3, -4]
    Expected Output : -24

In [56]:
def multiply(numbers):
    n=1
    for i in numbers:
        n=n*i
    return n
multiply([1,2,3,-4])

-24

In [0]:
multiply([1,2,3,-4])

-24

____
**Write a Python function that checks whether a passed string is palindrome or not.**

Note: A palindrome is word, phrase, or sequence that reads the same backward as forward, e.g., madam or nurses run.

In [60]:
def palindrome(s):
    if s==s[::-1]:
        return True
    else:
        return False
palindrome('hello')

False

In [61]:
def palindrome(s):
    if s==s[::-1]:
        return True
    else:
        return False
palindrome('madam')

True

In [0]:
palindrome('helleh')

True

## Given a number N.Find Sum of 1 to N Using Recursion

In [68]:
# CODE HERE
def summation(n):
    if n<1:
        return n
    else:
        return n+summation(n-1)
            
n = int(input())
sum = summation(n)
print(sum)

10
55

### Define a function which can generate and print a list where the values are square of numbers between 1 and 20

In [85]:
def printList(num=range(1,21)):
    lists=[]
    for i in num:
        lists.append(i**2)
    return lists
print(printList(),end=' ')

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

### Define a function which can generate a dictionary where the keys are numbers between 1 and 20 (both included) and the values are square of keys. The function should just print the keys only.

In [10]:
list1=[]
list2=[]
def printDict(num=range(1,21)):
    for i in num:
        list1.append(i)
        list2.append(i**2)
    return (dict(zip(list1,list2)))

dict1=printDict()
print(dict1.keys())

dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20])

### Write a function that count the no of characters of the given input text
- input
    - innomatics research labs
    
- output
    - innomatics :10
    - research : 8
    - labs : 4

In [52]:
def char(st):
    lists=st.split()
    list1=[]
    for i in lists:
        list1.append(len(i))
    return list1
a,b,c=char('innomatics research labs')
print('innomatics :{}\nresearch :{}\nlabs :{}'.format(a,b,c))

innomatics :10
research :8
labs :4

### Write a program which can map() to make a list whose elements are square of elements in [1,2,3,4,5,6,7,8,9,10].

Using map() function

In [55]:
# CODE HERE
# No different way of code is written as the requirment is specificly mentioned in problem description
def square(x):
    return x**2
li = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
squaredNumbers=map(square,li)
print(list(squaredNumbers))  # converting the object into list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Write a program which can map() and filter() to make a list whose elements are square of even number in [1,2,3,4,5,6,7,8,9,10].
##### using filter()

In [59]:
def even(x):
    return x%2==0
def square(x):
    return x**2
li=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
li=filter(even,li)
li=map(square,li)
print(list(li))

[4, 16, 36, 64, 100]

### Write a program which can filter() to make a list whose elements are even number between 1 and 20 (both included)

In [60]:
# CODE HERE
def even(x):
    return x%2==0

evenNumbers = filter(even, range(1, 21))
print(list(evenNumbers))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

### $f(n)=f(n-1)+f(n-2)$ if n>1

In [1]:
def f(n):
    if n<=1:
        return n
    return f(n-1)+f(n-2)
    
n = int(input("Enter n value : "))
print(f(n))

Enter n value : 7
13

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)