# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

## Basics of Python

> `Question:` Print your name

In [4]:
name=input('Enter your name: ')
print('My name is',name)

Enter your name: Suvakanta Sahoo
My name is Suvakanta Sahoo

> `Question:` What is a variable? Write a Few words about Variables. Create a Variable with an Example.

In [4]:
# A variable is something that is used to assign any value or store any value in programming.
# We can change it at any point of time of programming depending on conditions or on information passed to the program.
# We can not use keywords as variable name.
# We can use aplhabets, numerics and underscore to name any variable.

In [6]:
# Create a variable
var_1 = 10 # here var_1 is a variable and we assigned a value to it as 10
print(var_1)

10

>`Question:` Assume that we execute the following assignment statements:
width = 17
height = 12.0
delimiter = '.'
For each of the following expressions, write the value of the expression and the type (of the value of
the expression).
1. width/2
2. width/2.0
3. height/3
4. 1 + 2 * 5
5. delimiter * 5

In [60]:
width = 17
height = 12.0
delimiter = '.'

print('width/2 =',width/2,type(width/2))
print('width/2.0 =',width/2.0,type(width/2.0))
print('height/3 =',height/3,type(height/3))
print(1+2*5,type(1+2*5))
print(delimiter * 5,type(delimiter))

width/2 = 8.5 <class 'float'>
width/2.0 = 8.5 <class 'float'>
height/3 = 4.0 <class 'float'>
11 <class 'int'>
..... <class 'str'>

# Sample Outputs
1. width/2 = 8.5
2. width/2.0 = 8.5
3. height/3 = 4.0
4. 11
5. .....

> `Question:` Add two number by taking variable names as first and seccond

In [38]:
first=int(input('first number is : '))
second=int(input('second number is : '))
add= first + second
print('Addition of two numbers are : ',add)

first number is : 100
second number is : 200
Addition of two numbers are :  300

first number is : 100
second number is : 200
Addition of two numbers are : 300

> `Question:` Add your first name and second name

In [47]:
first=(input('My first name is : '))
second=(input('My second name is : '))
add= first + " "  + second
print('My full name is : ',add)

My first name is : Suvakanta
My second name is : Sahoo
My full name is :  Suvakanta Sahoo

My first name is : Sachin
My second name is : Tendulkar
My full name is : Sachin Tendulkar

> `Question:` print the datatypes of the following
- 10,'10',True,10.5

In [50]:
print('10 -',type(10))
print('10 -',type('10'))
print('True -',type(True))
print('10.5 -',type(10.5))

10 - <class 'int'>
10 - <class 'str'>
True - <class 'bool'>
10.5 - <class 'float'>

10 -  <class 'int'>
'10' -  <class 'str'>
True -  <class 'bool'>
10.5 -  <class 'float'>

 `Question:` 
> - num_int = 123
> - num_str = "456"
> - Add num_int and num_str
- `hint: first need to convert num_str into integer`

In [53]:
num_int = 123
num_str = "456"
num_int1 = int(num_str)
add = num_int + num_int1

print('Addition of 123 and 479 is : ',add)

Addition of 123 and 479 is :  579

Addition of 123 and 456 is :  579

### Advanced Questions

> `Question:` The volume of a sphere with radius r is  4/3Ï€r3  . What is the volume of a sphere with radius 5?

In [54]:
r=5
pie=3.1428
volume=(4/3) * pie * r**3

print('Volume of a sphere is : ',volume)

Volume of a sphere is :  523.8

> `Question:` Suppose the cover price of a book is Rs.24.95, but bookstores get a 40% discount. Shipping costs Rs.3 for the first copy and 75 paise for each additional copy. What is the total wholesale cost for 60 copies?

In [2]:
cp=24.95
d=40
actual_price=cp - (cp*d/100)
shipping_cost=3
total_copy=60
total_wholesales_cost=(actual_price*total_copy) + (shipping_cost*1) + (0.75*59)

print('Total wholesale cost is : ',int(total_wholesales_cost))

Total wholesale cost is :  945

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)